.THIS .slds-checkbox .slds-form-element__label {
    display: inline;
    vertical-align: middle;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.25;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .slds-modal__footer{
    border-top: none;
}
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 21%;
    max-width: 40rem;
    min-width: 20rem;
}
.THIS .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;    
    word-wrap: break-word;
}